@model Models.ViewModels.ProjectViewModel
@{
    ViewData["Title"] = "Home Page";
    @* ViewData["BreadCrumbTitle"] = "Yönetim Paneli"; *@
    ViewData["Controller"] = "Projeler";
    ViewData["Action"] = "Liste";
}

<div class="mt-4">
    <a class="btn btn-primary" asp-action="Create">Yeni Müşteri</a>
</div>
<div class="container mt-2">
    <div class="row justify-content-center">
        <div class="col">
            <table class="table border striped">
                <thead>
                    <tr>
                        <th>Ad</th>
                        <th>Konum</th>
                        <th>Ücret</th>
                        <th>İşlemler</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var project in Model.Project)
                    {
                        <tr>
                            <td>@project.Name</td>
                            <td>@project.Location</td>
                            <td>@project.Prize</td>
                            <td>
                                <a class="btn btn-primary" asp-controller="Project" asp-action="Details"
                                    asp-route-id="@project.Id">Düzenle/Detay</a>
                                <a class="btn btn-danger" asp-controller="Customer" asp-action="Delete"
                                    asp-route-id="@project.Id">Sil</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @Html.Partial("Components/_Pagination",Model.PaginationModel)
    </div>
</div>
