@model Models.ViewModels.CustomerViewModel
@{
    ViewData["Title"] = "Home Page";
    @* ViewData["BreadCrumbTitle"] = "Yönetim Paneli"; *@
    ViewData["Controller"] = "Müşteriler";
    ViewData["Action"] = "Liste";
}


<div class="mt-4">
    <a class="btn btn-primary" asp-controller="Customer" asp-action="Create">Yeni Müşteri</a>
</div>
<div class="container mt-2">
    <div class="row justify-content-center">
        <div class="col">
            <table class="table border striped">
                <thead>
                    <tr>
                        <th>Ad</th>
                        <th>Soyad</th>
                        <th>Telefon</th>
                        <th>Email</th>
                        <th>İşlemler</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var customer in Model.Customers)
                    {
                        <tr>
                            <td>@customer.Name</td>
                            <td>@customer.Surname</td>
                            <td>@customer.Email</td>
                            <td>@customer.Phone</td>
                            <td>
                                <a class="btn btn-primary" asp-controller="Customer" asp-action="Details"
                                    asp-route-id="@customer.Id">Düzenle/Detay</a>
                                <a class="btn btn-danger" asp-controller="Customer" asp-action="Delete"
                                    asp-route-id="@customer.Id">Sil</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @Html.Partial("Components/_Pagination",Model.PaginationModel)
    </div>
</div>
